*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
}

a, a:hover{
    color: white;
}

.bg-white{
    background-color: white !important;
}

.bg-main-color{
    background-color: #3b5998;
    color: white;
}

button{
    padding: 20px 30px !important;
    font-size: 25px !important;
    font-weight: 700 !important;
    cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
}

header{
    width: 100%;
    letter-spacing: 0.05px;
}

header .navbar .navbar-brand{
    font-weight: 800;
}
.about-us{
    padding: 150px 0;
}
.about-us h3{
    font-size: 85px;
    margin-bottom: 20px;
}

.about-us button:hover{
    background-color: blue;
    color: white;
}

.contact-us{
    padding: 150px 0;
}

.contact-us h3{
    font-size: 85px;
    margin-bottom: 20px;
}

.contact-us input, textarea{
    padding: 30px 25px !important;
    font-size: 20px !important;
}

.contact-us button:hover{
    background-color: rgb(233, 225, 225) !important;
}

footer ul li a{
    color: #007bff !important;
}

footer ul li a:hover{
    color: #3b5998 !important;
}